.CreateModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    .inner {
        width: 50%;
        margin: 4rem auto;
        position: relative;

        @media (max-width: $md) {
            width: 90%;
        }

        .close-btn {
            position: absolute;
            top: 13px;
            right: 13px;
            border: none;
            background: transparent;
            font-size: 15px;
            color: #777;
        }

        form {
            padding: 3rem 2rem 2rem;
            background: #f4f5f7;
            font-size: 15px;
            position: relative;
        }

        input {
            width: 100%;
            margin: 0 0 0.5rem 0;
            height: 33px;
            padding: 0 0.5rem;
            font-size: 15px;
        }

        textarea {
            width: 100%;
            height: 140px;
            margin-bottom: 0.5rem;
            border-color: #dbdbdb;
            padding: 0.5rem;
            font-size: 15px;
        }

        .select-wrapper {
            margin: 0 0 1rem 0;

            select {
                font-size: 1rem;
                margin-left: 1rem;
            }
        }

        .due-date {
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;

            .tag {
                margin-right: 1rem;
            }

            .date-picker {
                & > span > input {
                    margin: 0;
                }

                .vc-popover-content-wrapper {
                    @media (max-width: $sm) {
                        transform: translate(-50%, -50%) !important;
                        top: 50% !important;
                        left: 50% !important;
                    }
                }

                .vc-popover-caret {
                    @media (max-width: $sm) {
                        display: none;
                    }
                }

                &.wrong-value > span > input {
                    background-color: lighten($orange, 30%);
                    color: $red;
                }
            }
        }

        .validate-value {
            margin: 0 0 0.5rem 0;
            font-weight: 700;
            color: $red;
            transition: 0.2s ease;
        }

        .emphasize-error {
            border: 2px solid currentColor;
            padding: 3px;
            border-radius: 3px;
        }

        .btn-wrapper {
            display: flex;
            justify-content: center;

            button {
                border: none;
                padding: 0.7rem 1rem;
                border-radius: 5px;
                background: $orange;
                color: #fff;
                position: relative;
                transition: 0.3s ease;
            }

            button:active {
                top: 0.5px;
                background: darken($orange, 5%);
            }

            button:focus {
                border: none;
                outline: none;
                background: darken($orange, 5%);
            }
        }
    }

    .veil {
        background: #000;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        opacity: 0.5;
        z-index: 0;
    }
}
