.footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 30%;
    min-width: 450px;
    margin: 0 auto;

    @media (max-width: $md) {
        min-width: 100%;
    }
}
