$red: #FF006E;
$yellow: #FFBE0B;
$orange: #FB5607;
$purple: #8338EC;
$blue: #3A86FF;

$sm: 420px;
$md: 768px;
$lg: 1024px;

.red {
    color: $red;
}

.yellow {
    color: $yellow;
}

.orange {
    color: $orange;
}

.purple {
    color: $purple;
}

.blue {
    color: $blue;
}

.red-bg {
    background-color: $red;
}

.yellow-bg {
    background-color: $yellow;
}

.orange-bg {
    background-color: $orange;
}

.purple-bg {
    background-color: $purple;
}

.blue-bg {
    background-color: $blue;
}